<ngx-spinner name="createAlert-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
             type="ball-clip-rotate"
             [fullScreen]="true"><p> Loading... </p></ngx-spinner>
<!--<p-toast position="top-right"></p-toast>-->
<div class="p-grid">
    <div class="p-col">
<p-card>
    <div *ngIf="showTable">
        <div class="p-grid mx-0">
            <div class="p-col-12">
                <div class="card mb-4 ">
                    <div class="card-header border-0">
                        <div class="custom-title-wrap bar-purple">
                            <div class="custom-title">
            <span *ngIf="no === '1'" class="text-center">
                <h3>IPs with Open Port {{alertId}} : {{requestIncident?.length}}</h3>
            </span>
                                <span *ngIf="no === '2'" class="text-center">
                                <h3>IPs with Potential Vulnerability {{alertId}} : {{requestIncident?.length}}</h3>
            </span>
                                <span *ngIf="no === '3'" class="text-center">
                                <h3>IPs with Alert {{alertName}} : {{requestIncident?.length}}</h3>
            </span>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-4 " *ngFor="let alert of requestIncident">
                        <div class="card-body table-card-body">
                            <h2 class="btn-link p-mb-0">
                                <a class="onRowClick"
                                   (click)="ipDetail(alert.id)">{{alert.value}}</a></h2>
                            <div class="p-grid">
                                <div class="p-col-12 p-md-6">
                                    <div class="card-body">
                                        <table class="p-datatable-customers p-datatable-gridlines app-table">
                                            <tr *ngIf="alert?.hostnames">
                                                <td class="p-pl-0"><b>Hostname</b></td>
                                                <td>{{alert.hostnames}}</td>
                                            </tr>
                                            <tr *ngIf="alert?.isp">
                                                <td class="p-pl-0"><b>Internet Service Provider (ISP)</b></td>
                                                <td>{{alert.isp}}</td>
                                            </tr>
                                            <tr *ngIf="alert?.asn">
                                                <td class="p-pl-0"><b>Autonomous System Number (ASN)</b></td>
                                                <td>{{alert.asn}}</td>
                                            </tr>
                                            <tr *ngIf="alert?.organization">
                                                <td class="p-pl-0"><b>Organization Name</b></td>
                                                <td>{{alert.organization}}</td>
                                            </tr>
                                            <tr *ngIf="alert?.webserver">
                                                <td class="p-pl-0"><b>WebServer</b></td>
                                                <td>{{alert.webserver}}</td>
                                            </tr>
                                            <tr *ngIf="alert?.openPorts">
                                                <td class="p-pl-0"><b>Total Open Ports</b></td>
                                                <td>{{alert.openPorts}}</td>
                                            </tr>
                                            <tr *ngIf="alert?.location">
                                                <td class="p-pl-0"><b>Location</b></td>
                                                <td>{{alert.location}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="vertical"></div>
                                <div class="p-col-12 p-md-6">
                                    <div class="card-body">
                                        <h3 style="font-weight:normal;line-height: 22px;">{{alert?.details}}</h3>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div *ngIf="!showTable" class="col-sm-12 col-xs-12 col-md-12">
        <div class="panel panel-default">
            <p class="msg-dashBoard"> No Open Ports Found. </p>
        </div>
    </div>
</p-card>
    </div>
</div>


