<p-card header="Open Ports">
  <div class="spin">
    <ngx-spinner name="ports-spinner"  bdOpacity = 0.9 bdColor = "#f4f4f9" size = "medium" color = "#1010ee"
                 type = "ball-clip-rotate" [fullScreen] = "false"></ngx-spinner>
  </div>
      <p-table #dt [value]="requestIncident" [showCurrentPageReport]="true"
               currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
               [alwaysShowPaginator]="false"
               [paginator]="true" [rows]="10"
               styleClass="p-datatable-customers p-datatable-gridlines app-table">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th> Port</th>
            <th> Open on IPs</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>

            <td><a class="onRowClick"
                   (click)="ipDetail(rowData.value)">{{rowData.value}}</a></td>
            <td>{{rowData.count}}</td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="2">
              <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-12">
                  <div class="panel panel-default">
                    <p class="msg-dashBoard"> No Record Found </p>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
</p-card>

