<p-card>
    <ngx-spinner name="updateAlert-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
                 type="ball-clip-rotate"
                 [fullScreen]="true"><p> Loading... </p></ngx-spinner>
    <form [formGroup]="createAlert">
        <div class="p-field">
            <label type="text" class="col-form-label">
                <span class="red-star">*</span> Alert Name
            </label>
            <input pInputText class="p-inputtext animation  " placeholder="Add Title. E.g. Collection"
                   [disabled]="true" readonly
                   type="text" formControlName="main" maxlength="150">
            <div *ngIf="errorControl.main.errors && (errorControl.main.dirty || errorControl.main.touched)">
                <span class="p-error" *ngIf="errorControl.main.errors.required">Title is required!</span>
                <span class="p-error" *ngIf="errorControl.main.errors.pattern">Title is incorrect ! Only these characters are allowed (A-z,1-9,
          @,#,&,$,_,-,:)</span>
            </div>
        </div>
        <div class="p-field p-fluid">
            <label type="text" class="col-form-label">
                <span class="red-star">*</span>List Of IP Addresses Or Network Ranges
            </label>
            <br>
            <span *ngFor="let symbols of alert.linkedIps">
                <p-tag styleClass="p-mr-2" severity="warning" value="{{symbols || '-'}}">
                </p-tag>
              </span>
        </div>
        <div class="p-field p-fluid">
            <label type="text" class="col-form-label"><h3>Triggers</h3></label>
            <br>
            <p style="font-size: small ;">Select the type of notifications you would like to recieve.</p>
            <div class="p-col">
                <ul class="checkbox-list">
                    <li formArrayName="notifications"
                        *ngFor="let units of createAlert.get('notifications')['controls']; let i = index;"  style="justify-content: space-between;">
                        <label>
                            <input type="checkbox" [formControlName]="i">
                            {{checkboxes[i].name}}

                        </label>
                        <span style="float: right" tooltipPosition="top" [pTooltip]="checkboxes[i].description"><i
                                class="pi pi-info-circle"></i>
              </span>
                    </li>
                </ul>
            </div>

        </div>
        <div class="p-field block-div">
            <button class="p-button p-component ng-star-inserted" type="button"
                    (click)="onSubmit()">
                <span class="p-button-label">Upload</span>
            </button>
            <button class="p-button p-component ng-star-inserted" type="button" (click)="cancel()">
                <span class="p-button-label">Cancel</span>
            </button>

        </div>

    </form>

</p-card>



