<div class="p-grid">
    <div class="p-col">
        <p-card>
            <ngx-spinner name="createInfa-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
                         type="ball-clip-rotate"
                         [fullScreen]="true"><p> Loading... </p></ngx-spinner>
            <div *ngIf="showTable">
                <div class="p-grid" *ngIf="details && details?.latitude && details?.longitude">
                    <div class="p-col-12 p-md-12 p-p-0">
                        <google-map id="map"
                                    height="500px"
                                    width="100%"
                                    [zoom]="zoom"
                                    [center]="center"
                                    [options]="options">
                            <map-marker     [position]="center"></map-marker>
                            <button (click)="zoomOut()"><i class="pi pi-plus"></i></button>
                            <button (click)="zoomIn()"><i class="pi pi-minus"></i></button>
                        </google-map>
                    </div>
                </div>
                <div class="p-grid p-mt-4">
                    <div class="p-col-12 p-md-6">
                        <h2 class="p-m-0">
                            <i class="fa fa-globe" aria-hidden="true"> </i> {{details?.ip_str}}
                        </h2>

                        <div *ngIf="details && details?.tags && details?.tags.length>0">
                            <br>

                            <span>
                    <span class="text-center">Tag(s): </span>
                    <span *ngFor="let symbols of details.tags" class="p-mr-3"
                          pTooltip="{{symbols}}">
                        <p-tag>{{symbols}}</p-tag>
                    </span>
                </span>
                        </div>
                        <br>

                        <div>
                            <b>Last Update:</b> {{details?.date[0]| date:'dd-MMM-yyyy hh:mm:ss'}} UTC+{{details.date[1]}}
                        </div>
                    </div>
                    <div class="p-col-12 p-md-6 p-justify-end p-d-flex">
                        <button class="p-button p-component ng-star-inserted w-auto" type="button" (click)="reScan()"
                                color="primary"> Re-scan
                        </button>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-12 p-md-6">
                        <h2>
                            <i class="fa fa-th-large" aria-hidden="true"></i>
                            General Information
                        </h2>
                        <table class="app-table">
                            <tr *ngIf="details?.hostnames && details?.hostnames.length>0">
                                <td class="head">Hostname</td>
                                <td *ngFor="let host of details?.hostnames">{{host}}<br></td>
                            </tr>
                            <tr *ngIf="details?.domains && details?.domains.length>0">
                                <td class="head">Domains</td>
                                <td *ngFor="let host of details?.domains">{{host}}<br></td>
                            </tr>
                            <tr *ngIf="details?.country_name">
                                <td class="head">Country</td>
                                <td>{{details.country_name}}</td>
                            </tr>
                            <tr *ngIf="details?.city">
                                <td class="head">City</td>
                                <td>{{details.city}}</td>
                            </tr>
                            <tr *ngIf="details?.org">
                                <td class="head">Organization</td>
                                <td>{{details.org}}</td>
                            </tr>
                            <tr *ngIf="details?.isp">
                                <td class="head">ISP</td>
                                <td>{{details.isp}}</td>
                            </tr>
                            <tr *ngIf="details?.asn">
                                <td class="head">ASN</td>
                                <td>{{details.asn}}</td>
                            </tr>
                        </table>

                        <div *ngIf="details?.vulns && details.vulns.length>0" class="col-12">
                            <div class="card border p-3 mb-2">
                                <div class="card-header border-0">
                                    <div class="custom-title-wrap bar-purple">
                                        <div class="custom-title">
                                            <h2 class="p-mt-4">
                                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                                Vulnerabilties
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body table-card-body">

                                    <p-tabView (onChange)="selectVulnTab($event)">
                                        <p-tabPanel [selected]="i==0" *ngFor="let vuln of details.vulns; let i = index"
                                                    header="{{vuln}}">
                                            <div class="card-body table-card-body">
                                                <div class="card-body">
                                                    <div style="">
                                                        <table class="app-table">
                                                            <tr *ngIf="vulnData?.value?.cvss">
                                                                <td class="head">CVSS</td>
                                                                <td>{{vulnData?.value?.cvss}}</td>
                                                            </tr>
                                                            <tr *ngIf="vulnData?.value?.summary">
                                                                <td class="head">Summary</td>
                                                                <td class="just">{{vulnData?.value?.summary}}</td>
                                                            </tr>

                                                            <tr *ngIf="vulnData?.value?.references && vulnData?.value?.references.length > 0">
                                                                <td class="head">References</td>
                                                                <td class="just">
                                    <span *ngFor="let obj of vulnData?.value?.references">
                                      <a target="_blank" href="{{obj}}">{{obj}}</a><br></span></td>
                                                            </tr>
                                                        </table>
                                                    </div>

                                                </div>


                                            </div>

                                        </p-tabPanel>
                                    </p-tabView>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="p-col-12 p-md-6">
                        <div *ngIf="details?.ports && details.ports.length>0">
                            <div>
                                <div>
                                    <div class="card border p-3 mb-2">
                                        <div class="card-header border-0">
                                            <div class="custom-title-wrap bar-purple">
                                                <div class="custom-title">
                                                    <h2>
                                                        <i class="fa fa-sitemap" aria-hidden="true"></i>
                                                        Open Ports
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body table-card-body">
                                            <div>
                                                <div class="card-body">
                                                    <p-tabView (onChange)="selectTab($event)">
                                                        <p-tabPanel [selected]="i==0"
                                                                    *ngFor="let port of details.ports; let i = index"
                                                                    header="{{port}}" tooltip="Port No: {{port}}">

                                                            <div class="p-mt-4">{{portData?.timestamp | date:'dd-MMM-yyyy hh:mm:ss'}}</div>

                                                            <h2>{{portData?.product}}</h2>

                                                            <div *ngIf="portData?.transport || portData?.shodan?.module || portData?.port">
                                                    <span>
                                                        <p-tag class="p-mr-3"
                                                               pTooltip="{{portData?.port}}">
                                                            {{portData?.port}}
                                                        </p-tag>
                                                        <p-tag class="p-mr-3"
                                                               pTooltip="{{portData?.transport}}">
                                                            {{portData?.transport}}
                                                        </p-tag>
                                                        <p-tag class="p-mr-3"
                                                               pTooltip="{{portData?._shodan?.module}}">
                                                            {{portData?._shodan?.module}}
                                                        </p-tag>
                                                    </span>
                                                            </div>
                                                            <p class="portData">{{portData.data}}</p>
                                                        </p-tabPanel>
                                                    </p-tabView>

                                                    <div *ngIf="ssl" class="p-mt-4">
                                                        <div class="card mb-4 ">
                                                            <div class="card-header border-0">
                                                                <div class="custom-title-wrap bar-purple">
                                                                    <div class="custom-title">
                                                                        <h2 class="text-center">SSL Certificate</h2>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="card-body table-card-body">
                                                                <div>
                                                                    <div>
                                                                        <div class="card-body">
                                                                            <table class="table sep">
                                                                                <tr *ngIf="ssl?.chain_sha256">
                                                                                    <td class="head"><b>Chain SHA-256</b></td>
                                                                                    <td>
                                                                                        <span *ngFor="let obj of ssl?.chain_sha256">{{obj}}
                                                                                            <br></span></td>
                                                                                </tr>
                                                                                <tr *ngIf="ssl?.cert && ssl?.cert?.sig_alg">
                                                                                    <td class="head"><b>Signature Algorithm</b></td>
                                                                                    <td>{{ssl?.cert?.sig_alg}}</td>
                                                                                </tr>
                                                                                <tr *ngIf="ssl?.cert && ssl?.cert?.issuer">
                                                                                    <td class="head"><b>Issuer</b></td>
                                                                                    <td>
                                    <span *ngFor="let obj of ssl?.cert?.issuer | keyvalue">{{obj.key}}: {{obj.value}}
                                        <br></span></td>
                                                                                </tr>
                                                                                <tr *ngIf="ssl?.cert && ssl?.cert?.issued">
                                                                                    <td class="head"><b>Issued On</b></td>
                                                                                    <td>{{ssl?.cert?.issued }}</td>
                                                                                </tr>
                                                                                <tr *ngIf="ssl?.cert && ssl?.cert?.expires">
                                                                                    <td class="head"><b>Expired On</b></td>
                                                                                    <td>{{ssl?.cert?.expires}}</td>
                                                                                </tr>
                                                                                <tr *ngIf="ssl?.cert && ssl?.cert?.subject">
                                                                                    <td class="head"><b>Subject</b></td>
                                                                                    <td><span
                                                                                            *ngFor="let obj of ssl?.cert?.subject | keyvalue">{{obj.key}}
                                                                                        : {{obj.value}}
                                                                                        <br></span></td>
                                                                                </tr>
                                                                                <tr *ngIf="ssl?.cert && ssl?.cert?.pubkey">
                                                                                    <td class="head"><b>Public Key Algorithm</b></td>
                                                                                    <td>{{ssl?.cert?.pubkey?.type}}</td>
                                                                                </tr>
                                                                                <tr *ngIf="ssl?.cert && ssl?.cert?.pubkey">
                                                                                    <td class="head"><b>RSA Public Key</b></td>
                                                                                    <td>{{ssl?.cert?.pubkey?.bits}}
                                                                                        bits
                                                                                    </td>
                                                                                </tr>
                                                                                <tr *ngIf="ssl?.versions">
                                                                                    <td class="head"><b>Versions</b></td>
                                                                                    <td>
                                                                                        <span *ngFor="let obj of ssl?.versions">{{obj}}
                                                                                            <br></span>
                                                                                    </td>
                                                                                </tr>

                                                                                <tr *ngIf="ssl?.trust && ssl?.trust?.browser">
                                                                                    <td class="head"><b>Browser</b></td>
                                                                                    <td>
                                    <span *ngFor="let obj of ssl?.trust?.browser | keyvalue">{{obj.key}}: {{obj.value}}
                                        <br></span></td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body" *ngIf="!showTable">
                <div class="col-sm-12 col-xs-12 col-md-12">
                    <div class="panel panel-default">
                        <p class="msg-dashBoard"> No Record Found </p>
                    </div>
                </div>
            </div>
        </p-card>
    </div>
</div>

