//@import "variables";
//
//::ng-deep app-dashboard .p-card-content {
//  .p-button {
//    padding: 0.5rem 1rem;
//  }
//}
///*DEFAULT THEME*/
//$chart-h: 285px;
//
//.wsh-chart {
//  height: $chart-h;
//}
