<div class="p-grid">
    <div class="p-col-12 p-md-6">
        <app-networkMonPorts></app-networkMonPorts>
    </div>
    <div class="p-col-12 p-md-6 card-height-100">
        <app-networkMonVuln></app-networkMonVuln>
    </div>
</div>
<div class="p-grid" *ngIf="showTable && charts && charts.length>0">
    <div class="p-col-12 p-md-6"   *ngFor="let chart of charts">
        <p-card header="{{chart.name}}" >
            <div class="spin">
                <ngx-spinner name="trials-spinner"  bdOpacity = 0.9 bdColor = "#f4f4f9" size = "medium" color = "#1010ee"
                             type = "ball-clip-rotate" [fullScreen] = "false"></ngx-spinner>
            </div>
            <div echarts (chartClick)="open($event)" [options]="chart.value" class="wsh-chart"></div>

        </p-card>

    </div>
</div>
