<div class="p-grid">
  <div class="p-col">
    <p-card header="Manage Alerts">

      <ngx-spinner name="manageAlerts-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
                   type="ball-clip-rotate"
                   [fullScreen]="true"><p> Loading... </p></ngx-spinner>
      <p-table #dt [value]="requestIncident" [showCurrentPageReport]="true"
               currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
               [alwaysShowPaginator]="false"
               [paginator]="true" [rows]="10"
               styleClass="p-datatable-customers p-datatable-gridlines app-table">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-justify-end p-align-center">
            <button class="p-button p-component ng-star-inserted w-auto p-mt-3" type="button"
                    (click)="createAlert()">
              <span class="p-button-label">Create Alert</span>
            </button>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th> Alert Name</th>
            <th> Values</th>
            <th width="100" class="p-text-center"> Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>

            <td><a class="onRowClick" (click)="showIPs(rowData.id, rowData.name)">{{rowData.name}}</a></td>
            <td>
              <span *ngFor="let symbols of rowData.linkedIps">
                <p-tag styleClass="p-mr-2" severity="warning" value="{{symbols || '-'}}">
                </p-tag>
              </span>
            </td>
            <td class="p-text-center">
              <a (click)="updateAlert(rowData)">
                <i class="pi pi-pencil"></i>
              </a>&nbsp;&nbsp;
              <a (click)="deleteAlert(rowData.sourceId)">
                <i  class="pi pi-trash"></i>
              </a>
            </td>

          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="3">
              <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-12">
                  <div class="panel panel-default">
                    <p class="msg-dashBoard"> No Record Found </p>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
