<div class="p-field-checkbox">
    <p-checkbox 
        name="{{ this.name }}" 
        value="{{ this.label }}" 
        inputId="{{ this.id }}">
    </p-checkbox>
    <label 
        for="{{ this.id }}"
    >
        {{ label }}
    </label>
</div>