<div class="p-grid">
  <div class="p-col">
    <p-card header="Rescanned IPs">

      <ngx-spinner name="rescan-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
                   type="ball-clip-rotate"
                   [fullScreen]="true"><p> Loading... </p></ngx-spinner>
      <p-table #dt [value]="requestIncident" [showCurrentPageReport]="true"
               currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
               [alwaysShowPaginator]="false"
               [paginator]="true" [rows]="10"
               styleClass="p-datatable-customers p-datatable-gridlines app-table">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th> IP</th>
            <th> Submit Date</th>
            <th> Status</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>

            <td>
              <span *ngIf="rowData.status === 'DONE'"><a class="onRowClick" (click)="ipDetail(rowData.linkedIpId)" >{{rowData.value}}</a></span>
              <span *ngIf="rowData.status === 'PENDING' || rowData.status === 'REMOVED'">{{rowData.value}}</span>
            </td>
            <td>{{rowData.submitDate  | date:'dd/MMM/yyyy'}}</td>
            <td>
              <span class="label label-success" *ngIf="rowData.status === 'DONE'">Completed</span>
              <span class="label label-danger" *ngIf="rowData.status === 'PENDING' || rowData.status === 'REMOVED'">{{rowData.status | titlecase}}</span>

            </td>

          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="3">
              <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-12">
                  <div class="panel panel-default">
                    <p class="msg-dashBoard"> No Record Found </p>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>
